Options -Indexes
RewriteEngine On

# Abaikan jika yang diakses adalah file atau folder nyata (seperti CSS/Gambar)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Arahkan sisanya ke index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]